/* .Filter_button{
    background-color: rgb(0, 58, 128);
    margin-left: 40px;
} */
.time_slot{
    font-size: 24px; 
    color: green; 
    text-transform: uppercase; 
}
/* .lot-press{
    color:rgb(149, 95, 160)
} */